*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.scroller-section{
    position: relative;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.scroller-main{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    margin-left: 250px;
}

.scroller-container{
    display: flex;
    /* gap: 50px;
    width: auto;
    transition: all 0.3s; */
}

.movie-container{
    z-index: 2;
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.inactive-container{
    margin-bottom: 50px;
}

.active-container{
    position: absolute;
    opacity: 1;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    align-self: end;
    margin-left: -250px;
    transition: all 0.3s;
}



/* content */


.movie-logo{
    position: absolute;
    width: 350px;
    right: 0;
    filter: drop-shadow(0px 0px 10px black);
}

.movie-info{
    width: 700px;
}

.movie-title{
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.15;
}

.movie-stats{
    margin-bottom: 25px;
    transform: translateX(2px);
    font-weight: 400;
}

.movie-desc-container{
    height: 240px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient( rgba(0, 0, 0, 1) 50%,rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0));
}

.movie-desc{
    width: 570px;
    text-align: justify;
    color: #e5e5e5;
    font-weight: 300;
    font-size: .9rem;
}

.movie-desc-btn-holder {
    margin-top: 5px;
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.movie-desc-btn {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: all 0.25s;
}

.movie-desc-btn:hover{
    border-bottom: 1px solid transparent;
}

.movie-background-splash{
    z-index: -1;
    position: absolute;
}

.movie-background-splash::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.8) 50%, transparent);
    z-index: 1;
    animation: splashLoad 0.3s forwards 0.3s;
}

.movie-splash{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: scale(1.5);
}

.movie-contentblock{
    position: relative;
    background-size: cover;
    height: 100vh;
}

.movie-watch-btn{
    display: inline-block;
    padding: 7px 15px;
    background-color: #be2323;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s;
}

.movie-watch-btn:hover{
    transform: scale(0.98) translateY(1px);
}

.content{
    z-index: 1;
    transform: translateY(10px);
    opacity: 0;
    padding-top: 120px;
    position: relative;
    width: 65%;
    margin-inline: auto;
    font-family: 'Poppins';
    animation: contentLoad 0.5s forwards 0.5s;
}

@keyframes splashLoad {
    to{
        background-color: transparent;
    }
}

@keyframes contentLoad {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* scroller */

.scroller-elements{
    z-index: 9999;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 50px;
    align-items: flex-end;
    transform: translateX(-350px);
    transition: all 0.1s;
}

.movie-scrollEl{
    position: relative;
    width: 300px;
    height: 200px;
    opacity: 0.5;
    background-color: black;
    transition: all 0.3s;
    overflow: hidden;
    box-shadow: 0px 0px 50px black;
}

.active-scrollEl{
    opacity: 1;
    transform: scale(1.1) translateY(-8px);
}

.scrollEl-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    opacity: 0.3;
}

.scrollEl-logo{
    position: absolute;
    width: 50%;
    filter: drop-shadow(0px 0px 10px black);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* timer line */

.timer-line{
    display: block;  
    position: absolute;
    bottom: 0;
    width: 0;
    z-index: 1;
    overflow: hidden;
    animation: timer 10s infinite linear;
}

.line{
    height: 3px;
    width: 100vw;
    background-color: #be2323;
    box-shadow: 0px -5px 7px green;
    border-radius: 50%;

}

@keyframes timer {
    to {
        width: 100%;
    }
}

/* autoplay */

.autoplay-button{
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top : 20px;
    left: 20px;
    z-index: 1;
    font-family: 'Poppins';
}

.autoplay-text{
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.autoplay-btn{
    position: relative;
    cursor: pointer;
    width: 48px;
    height: 24px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 3px 3px black;
}

.autoplay-btn-toggler{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    transition: all 0.15s;
}

.autoplay-btn-toggler.on{
    background-color: #5D9C59;
    box-shadow: 0px 0px 15px #5D9C59;
    left:25px;
}

.autoplay-btn-toggler.off{
    background-color: #DF2E38;
    box-shadow: 0px 0px 15px #DF2E38;
    left:3px;
}
